// app global css

#indexpage-top-panel {
    display: flex;
}

#indexpage-top-panel .q-tabs {
    flex: 1 1 calc(100% - 100px);
}

#indexpage-top-panel .q-btn-group {
    flex: 1 1 100px;
}

#indexpage-top-panel .q-tab__content {
    flex-direction: row;
}

.tab-title {
    flex: 1 1 calc(100% - 30px);
}

.tab-close-button {
    width: 30px
    flex: 1 1 30px;
}
